@model Hybrid.Quartz.Dashboard.Models.Dtos.DashboardDto
@{
    ViewData["Title"] = L("Dashboard");
    Random r = new Random();
    var directions = new string[] { "left", "top", "bottom", "right" };
}
<link rel="stylesheet" href="~/css/core.min.css">
<link rel="stylesheet" href="~/css/components.min.css">
<link rel="stylesheet" href="~/css/dashboard.min.css">
<!-- dashboard start -->
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>@L("PleaseWait")</p>
    </div>
</div>
<!-- #END# Page Loader -->
<h2 class="page-header">@L("Dashboard")</h2>
@if (Model != null)
{
    <div id="scheduler-dashboard" class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30">Jobs Executed</h4>
                <div class="widget-chart-1">
                    <div class="widget-chart-box-1">
                        <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#10c469"
                               data-bgColor="#cff3e1" value="@(Model.TotalJobs == default(long) ? 0 : (Model.ExecutedJobs / Model.TotalJobs * 100))"
                               data-skin="tron" data-angleOffset="180" data-readOnly=true
                               data-thickness=".15" />
                    </div>
                    <div class="widget-detail-1">
                        <h2 class="p-t-10 m-b-0">@Model.ExecutedJobs</h2>
                        <p class="text-muted">Total Jobs Executed</p>
                    </div>
                </div>
            </div>
        </div><!-- end col -->

        <div class="col-lg-3 col-md-6">
            <div class="card-box">

                <h4 class="header-title m-t-0 m-b-30">Jobs Failed</h4>

                <div class="widget-box-2">
                    <div class="widget-detail-2">
                        <span class="badge badge-danger pull-left m-t-20">@(Model.FailedJobs / Model.TotalJobs * 100) %<i class="glyphicon glyphicon-flash"></i> </span>
                        <h2 class="m-b-0">@Model.FailedJobs</h2>
                        <p class="text-muted m-b-25">Total Jobs Failed</p>
                    </div>
                    <div class="progress progress-bar-danger-alt progress-sm m-b-0">
                        <div class="progress-bar progress-bar-danger" role="progressbar"
                             aria-valuenow="@(Model.FailedJobs / Model.TotalJobs * 100)" aria-valuemin="0" aria-valuemax="100"
                             style="width: @(Model.FailedJobs / Model.TotalJobs * 100)%;">
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->

        <div class="col-lg-3 col-md-6">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30">Statistics</h4>

                <div class="widget-chart-1">
                    <div class="widget-chart-box-1" title="Total Jobs">
                        <input data-plugin="knob"
                               data-width="80" data-height="80"
                               data-fgColor="#188AE2"
                               data-bgColor="#188AE2"
                               data-min="0" data-max="@Model.JobsCount" value="@Model.JobsCount"
                               data-skin="tron"
                               data-angleOffset="180" data-readOnly=true
                               data-thickness=".15" />
                    </div>
                    <span class="badge badge-purple pull-left m-t-20" title="Jobs Excuting">@Model.ExecutingJobs</span>
                    <div class="widget-detail-1">
                        <h2 class="p-t-10 m-b-0">@Model.TriggerCount</h2>
                        <p class="text-muted">Total Triggers</p>
                    </div>
                </div>
            </div>
        </div><!-- end col -->

        <div class="col-lg-3 col-md-6">
            <div class="card-box">
                <h4 class="header-title m-t-0 m-b-30">Charts</h4>

                <div class="widget-box-2">
                    <div class="ui statistic" style="background-color: #f0f0f0;">
                        <div class="value">
                            <div style="height: 77px" class="dashboard-histogram">
                                <div class="histogram" style="width:@(Model.History.ComputedWidth)px;">
                                    @foreach (var item in Model.History.Bars)
                                    {
                                        <div class="bar @item.CssClass" style="left:@(item.ComputedLeft)px; height:@(item.Percentage)%"
                                             data-toggle="tooltip" data-html="true"
                                             data-placement="@directions[r.Next(0,3)]" data-original-title="@item.Tooltip"></div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div>
}

<script>
    $(function () {
        setTimeout(function () { $('.page-loader-wrapper').fadeOut(); }, 2000);
        initHistogramTooltips($('.histogram > .bar'));
    });
    function initHistogramTooltips(elements) {
        elements.each(function () {
            const tooltip = $(this).data('tooltip-html');
            if (tooltip) {
                $(this).popup({
                    html: '<div class="histogram-tooltip">' + tooltip + '</div>',
                    hoverable: true,
                    transition: 'fade',
                    delay: 200
                });
            }
        });
    }
</script>
<!-- App js -->
<script type="text/javascript" src="~/js/jquery.core.min.js"></script>
<!-- dashboard end -->