@using Hybrid.Zero.IdentityServer4.Quickstart.Views.Shared.Components.TopBarLanguageSwitch

@inject Microsoft.Extensions.Options.IOptions<Hybrid.Core.Options.HybridOptions> options

<form method="post" id="logoutForm" class="navbar-right" onsubmit="return false;">
    <ul class="nav navbar-nav navbar-right">
        @await Component.InvokeAsync(typeof(TopBarLanguageSwitchViewComponent))
        <!-- dropdownMenuFunctionLink -->
        @if (User.Identity.IsAuthenticated)
        {
            <li class="dropdown mr-sm-3">
                <a class="dropdown-toggle" href="javascript:void(0);" role="button" id="dropdownMenuFunctionLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="" title="@User.Identity.Name"></i>
                    <span>@L("Hello") @User.Identity.Name!</span>
                    <b class="caret"></b>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuFunctionLink">
                    @if (options.Value.Quartz.IsEnabled)
                    {
                        <a asp-area="Quartz" asp-controller="Dashboard" asp-action="Index" class="dropdown-item text-center">@L("QuartzCenter")</a>
                    }
                    <a asp-area="" asp-controller="Account" asp-action="Logout" class="dropdown-item text-center">@L("LogOut")</a>
                </div>
            </li>
        }
        else
        {
            <li class="dropdown mr-sm-3">
                <a class="dropdown-toggle" href="javascript:void(0);" role="button" id="dropdownMenuFunctionLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="" title="点击进行操作"></i>
                    <span>@L("Welcome")</span>
                    <b class="caret"></b>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuFunctionLink">
                    @if (options.Value.Quartz.IsEnabled)
                    {
                        <a asp-area="Quartz" asp-controller="Dashboard" asp-action="Index" class="dropdown-item text-center">@L("QuartzCenter")</a>
                    }
                    <a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl="@Context.Request.Path" class="dropdown-item text-center">@L("LogIn")</a>
                </div>
            </li>
        }
    </ul>
</form>