@using Hybrid.Zero.IdentityServer4.Quickstart.Views.Shared.Components.TopBarLanguageSwitch

@inject Microsoft.Extensions.Options.IOptions<Hybrid.Core.Options.HybridOptions> options


@if (User.Identity.IsAuthenticated && options.Value.Ids.IsEnabled)
{
    <form asp-area="IdentityServer" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @await Component.InvokeAsync(typeof(TopBarLanguageSwitchViewComponent))

            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <i class="" title="@User.Identity.Name"></i>
                    <span>@L("Hello") @User.Identity.Name!</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a asp-area="IdentityServer" asp-controller="Home" asp-action="Index" class="btn btn-link navbar-btn navbar-link">@L("AuthCenter")</a>
                    </li>
                    <li style="text-align:center;">
                        <button type="submit" class="btn btn-link navbar-btn navbar-link">@L("LogOut")</button>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-spinner fa-spin fa-2x" style="margin-top:10px;"></i>
            </li>
        </ul>
    </form>
}
else
{
    if (options.Value.Ids.IsEnabled)
    {
        <form method="get" id="loginForm" class="navbar-right" onsubmit="return false;">
            <ul class="nav navbar-nav navbar-right">
                @await Component.InvokeAsync(typeof(TopBarLanguageSwitchViewComponent))

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class="" title="点击进行操作"></i>
                        <span>@L("Welcome")</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a asp-area="IdentityServer" asp-controller="Home" asp-action="Index" class="btn btn-link navbar-btn navbar-link">@L("AuthCenter")</a>
                        </li>
                        <li>
                            <a asp-area="IdentityServer" asp-controller="Account" asp-action="Login" asp-route-returnurl="@Context.Request.Path" class="btn btn-link navbar-btn navbar-link">@L("LogIn")</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <i class="fa fa-spinner fa-spin fa-2x" style="margin-top:10px;"></i>
                </li>
            </ul>
        </form>
    }
    else
    {
        <form method="get" id="noForm" class="navbar-right" onsubmit="return false;">
            <ul class="nav navbar-nav navbar-right">
                @await Component.InvokeAsync(typeof(TopBarLanguageSwitchViewComponent))

                <li class="dropdown">
                    <i class="" title="点击进行操作"></i>
                    <span>@L("Welcome")</span>
                </li>
                <li>
                    <i class="fa fa-spinner fa-spin fa-2x" style="margin-top:10px;"></i>
                </li>
            </ul>
        </form>
    }
}