@using Hybrid.Quartz.Dashboard.Views.Shared.Components.TopBarLanguageSwitch
@using Hybrid.Quartz.Dashboard.Views.Shared.Components.TopBarSchedulerSwitch

@if (User.Identity.IsAuthenticated)
{
    <form asp-area="Quartz" asp-controller="Account" asp-action="LogOut" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @await Component.InvokeAsync(typeof(TopBarSchedulerSwitchViewComponent))
            @await Component.InvokeAsync(typeof(TopBarLanguageSwitchViewComponent))
            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <i class="" title="@User.Identity.Name"></i>
                    <span>@L("Hello") @User.Identity.Name!</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <button type="submit" class="btn btn-link navbar-btn navbar-link">@L("LogOut")</button>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </li>
        </ul>
    </form>
}
else
{
    <form method="get" id="loginForm" class="navbar-right" onsubmit="return false;">
        <ul class="nav navbar-nav navbar-right">
            @await Component.InvokeAsync(typeof(TopBarSchedulerSwitchViewComponent))
            @await Component.InvokeAsync(typeof(TopBarLanguageSwitchViewComponent))

            <li class="dropdown">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <i class="" title="点击进行操作"></i>
                    <span>@L("Welcome")</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a asp-area="Quartz" asp-controller="Account" asp-action="LogIn" class="btn btn-link navbar-btn navbar-link">@L("LogIn")</a>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-spinner fa-spin fa-2x"></i>
            </li>
        </ul>
    </form>
}